@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    cursor: none;
  }

  a, button, input, textarea, select {
    cursor: none; 
  }

  @media screen and (max-width: 768px) {
    .works-container {
      max-height: 90vh; /* Makes the container take at most 90% of the screen height */
      overflow-y: auto; /* Allows scrolling if content overflows */
    }
  
    .works-content {
      padding: 10px; /* Adjusts padding to ensure contents stay inside the border */
    }
  }

 
  
  